.header
   width: 100%
   &__nav
      border-bottom: 1px solid var(--gray-1)
      transform: matrix(1, 0, 0, 1, 0, 0)
   &__list
      display: flex
      justify-content: space-between
      padding: 33px 0
      flex-wrap: wrap
   &__item
      font-size: 18px
      font-weight: 700
   &__link
      color: var(--black)





