.skills
   .skills__wrap
      display: flex
      flex-direction: column
      padding: 91px 0 110px
      .skills__title
         color: var(--black)
         font-size: 34px
         font-weight: 700
         margin-bottom: 69px
      .skills__subtitle
         color: var(--black)
         font-size: 18px
         font-weight: 500
         margin-bottom: 83px
      .skills__items
         display: grid
         grid-template-columns: repeat(auto-fit, 166px)
         grid-template-rows: auto
         justify-content: space-between



