.skills
   padding: 91px 0 110px
   .skills__title
      color: var(--black)
      text-align: center
      font-size: 34px
      font-weight: 700
      margin-bottom: 69px
   .skills__subtitle
      color: var(--black)
      text-align: center
      font-size: 18px
      font-weight: 500
      margin-bottom: 83px
   .skills__items
      display: grid
      grid-template-columns: repeat(auto-fill, 166px)
      justify-content: space-between
      row-gap: 60px



