@import url(../fonts/fonts.css);
@import url(../css/reset.css);
@import url(../css/colors.css);
.page {
  display: grid;
  grid-template-rows: auto 1fr auto; }

.container {
  max-width: 940px;
  margin: 0 auto; }

.header {
  width: 100%; }
  .header__nav {
    border-bottom: 1px solid var(--gray-1);
    transform: matrix(1, 0, 0, 1, 0, 0); }
  .header__list {
    display: flex;
    justify-content: space-between;
    padding: 33px 0;
    flex-wrap: wrap; }
  .header__item {
    font-size: 18px;
    font-weight: 700; }
  .header__link {
    color: var(--black); }

.preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 54px; }
  .preview__info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: var(--black);
    margin-top: 40px; }
  .preview__name {
    font-weight: 700;
    font-size: 47px;
    line-height: 59px; }
  .preview__disc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px; }
  .preview__lang {
    display: flex;
    transform: translate(40%, -115%) rotate(-90deg); }
  .preview__line {
    padding: 0 6px;
    font-weight: 700; }

.radio {
  position: relative; }
  .radio__title {
    font-size: 16px;
    line-height: 20px;
    color: var(--black);
    font-weight: 700; }
  .radio__input {
    position: absolute;
    outline: none;
    clip: rect(0, 0, 0, 0); }
    .radio__input:checked ~ .radio__title {
      color: var(--gray-1); }

.about-me {
  background-color: var(--gray-2); }
  .about-me__wrap {
    padding: 120px 0 107px;
    text-align: center;
    color: var(--black); }
  .about-me__title {
    font-size: 34px;
    font-weight: 700;
    line-height: 0.8;
    margin-bottom: 35px; }
  .about-me__info {
    font-size: 18px;
    font-weight: 500; }

.skills__wrap {
  display: flex;
  flex-direction: column;
  padding: 91px 0 110px; }
.skills__title {
  color: var(--black);
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 69px; }
.skills__subtitle {
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 83px; }
.skills__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 166px);
  grid-template-rows: auto;
  justify-content: space-between; }

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .item__img {
    height: 90px;
    width: 90px; }
  .item__title {
    color: var(--gray-1);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin: 24px 0 40px; }
  .item__rating {
    display: flex;
    gap: 8px; }
  .item__star {
    color: var(--gray-3);
    height: 26px;
    width: 27px; }
    .item__star_active {
      color: var(--black); }

.carousel {
  display: flex; }
  .carousel .carousel__inner {
    display: flex;
    align-items: center;
    transition: all 1s ease; }
    .carousel .carousel__inner .carousel__slide {
      position: relative; }
      .carousel .carousel__inner .carousel__slide .carousel__icon {
        position: absolute;
        z-index: 3;
        transform: translate(0, -50%);
        cursor: pointer; }

.portfolio {
  background-color: var(--gray-2);
  padding: 113px 0 96px; }
  .portfolio__title {
    color: var(--black);
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 47px; }

.contacts__wrap {
  color: var(--black);
  padding: 114px 0 43px;
  display: flex;
  flex-direction: column;
  align-items: center; }
.contacts__title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 20px; }
.contacts__subtitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center; }
.contacts__link {
  width: 180px;
  height: 42px;
  border-radius: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  color: var(--white); }

.footer__wrap {
  padding: 43px 0 123px; }
.footer__social {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 46px; }
.footer__link {
  width: 41px;
  height: 41px;
  color: var(--black); }
.footer__icon {
  width: inherit;
  height: inherit; }
.footer__subtitle {
  color: var(--gray-1);
  text-align: center;
  font-size: 14px;
  font-weight: 500; }
