.item
   display: flex
   flex-direction: column
   align-items: center
   justify-content: space-between
   &__img
      height: 90px
      width: 90px
   &__title
      color: var(--gray-1)
      text-align: center
      font-size: 14px
      font-weight: 700
      margin: 24px 0 40px
   &__rating
      display: flex
      gap: 8px
   &__star
      color: var(--gray-3)
      height: 26px
      width: 27px
      &_active
         color: var(--black)