.item
   .item__img
      height: 90px
      width: 90px
   .item__title
      color: var(--gray-1)
      text-align: center
      font-size: 14px
      font-weight: 700
   .item__rating
      display: flex
      gap: 14px
      .item__star
         height: 27px
         width: 27px
