.footer
   &__wrap
      padding: 43px 0 123px
   &__social
      display: flex
      justify-content: center
      gap: 60px
      margin-bottom: 46px
   &__link
      width: 41px
      height: 41px
      color: var(--black)
   &__icon
      width: inherit
      height: inherit
   &__subtitle
      color: var(--gray-1)
      text-align: center
      font-size: 14px
      font-weight: 500
