.footer
   padding: 114px 0 123px
   .footer__title
      color: var(--black)
      text-align: center
      font-size: 34px
      font-weight: 700
      margin-bottom: 20px
   .footer__subtitle
      color: var(--black)
      text-align: center
      font-size: 18px
      font-weight: 500
      margin-bottom: 30px
   .footer__massage
      display: flex
      .footer__link
         width: 41px
         height: 41px
         .footer__icon
            width: 41px
            height: 41px


