.about-me
   background-color: var(--gray-2)
   &__wrap
      padding: 120px 0 107px
      text-align: center
      color: var(--black)
   &__title
      font-size: 34px
      font-weight: 700
      line-height: 0.8
      margin-bottom: 35px
   &__info
      font-size: 18px
      font-weight: 500



